@import url("https://fonts.googleapis.com/css?family=Montserrat");









.App-nav {
  /* background-image: linear-gradient(to top right, #121212,  #201e1e);
   */
  box-shadow: inset 0 0 20rem rgba(7, 7, 7, 1);
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 1.1em !important;
  line-height: .6;
  /* must fix padding (all padding)*/
  padding: .2em 5em .2em 5em !important;

}

.ml-auto{
  display:flow-root;
  margin-left: auto;

}

#app-nav-home {
  transition-property: text-shadow;
  transition-duration: .7s;
  transition-delay: 0s;
}
#app-nav-home:hover {
  /* animation: first_color .5s ease-in-out infinite alternate; */

    text-shadow: 0 0 20px #fff,
        0 0 40px #fff, 0 0 60px #fff;


}


#app-nav-resume{
  transition-property: text-shadow;
  transition-duration: .7s;
  transition-delay: 0s;
}
#app-nav-resume:hover {
  text-shadow: 0 0 30px #ff1177,
      0 0 50px #d6249f, 0 0 70px #285AEB
}

#app-nav-portfolio {
    transition-property: text-shadow;
      transition-duration: .7s;
      transition-delay: 0s;

}

#app-nav-portfolio:hover {
      text-shadow: 0 0 30px #1877f2,
          0 0 50px #1459b3, 0 0 70px #179bff
}



#app-nav-contact {
      transition-property: text-shadow;
      transition-duration: .7s;
      transition-delay: 0s;
}

#app-nav-contact:hover{
      text-shadow: 0 0 30px #25d366,
          0 0 50px #48ee85, 0 0 70px #0ec0a5
}

#app-nav-spotify {
  letter-spacing: 3px;
  transition-property: text-shadow;
  transition-duration: .7s;
  transition-delay: 0s;
}

#app-nav-spotify:hover {
  text-shadow: 0 0 30px #25d366,
    0 0 50px #48ee85, 0 0 70px #0ec0a5
}

.app-nav-item {
  color: #fff !important;
  padding: 30px 70px 30px 0px !important;
}

.app-top-margin{
  background-color: #000;
  height: 5vh;
}

.app-head{
    height: 90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(7, 7, 7, 0.1)), url("./starPhoto.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 20rem rgba(7, 7, 7, 1);
}

h1.app-head-text{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  padding-top: 10vh;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff;
}

h2.app-head-text{
  font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    padding-top: 10vh;
    font-size: 3em;
    text-align: center;
    color: #fff;
    animation: first_color .5s ease-in-out infinite alternate;
}




.app-body-container{
  z-index: 2;
  padding-top: 30px;
  background-color: black;
}

.App-body {
  margin:auto;
  width: 70em;
  display: flex;
  flex-direction: column;
  color: white;
  
}

.reveal{

  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}



.personal-card {
  background-color: white;
  border-radius: 12px;
  margin: auto;
  margin-top: 5vh;
  width: auto;
  height: 400px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 30px -12px inset;
  box-sizing: border-box;
  color: #121212;
}

.personal-card-img{
  background-image: url("https://res.cloudinary.com/dlvlvxbxh/image/upload/v1662959478/personalWebsite/IMG_0136_eefrim.jpg");
  background-size: cover;
  background-position: center;
  height: 325px;
  width: 300px;
  margin-left: 3em;
  margin-right: auto;
  border: 5px solid rgb(0, 0, 0, 0.3);
  border-radius: 50px;
}

.personal-card-info{
  text-align: center;
  margin-right: 3em;
  margin-left: auto;
  width: 50%;
}

.personal-card-info > h1{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.personal-card-info > h2{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    
}




#resume-transcript-wrapper{
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-bg {
  height: 90vh;
  width: 100%;
  z-index: 5;
  position:absolute;

  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 20rem rgba(7, 7, 7, 1);

  color:white;

}

.portfolio-bg.utune{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(7, 7, 7, 0.8)), url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=5184&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
}

.portfolio-bg.coursesearch{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(7, 7, 7, 0.8)), url("https://images.unsplash.com/photo-1583373834259-46cc92173cb7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2ODgxMTExMQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=3793");
}

#portfolio-title{
  padding-top: 80px;
  padding-bottom: 0;
  letter-spacing: 8px;
  font-weight: bold;
}






.home-h1{
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  font-size: 45px;
  letter-spacing: 5px;
}

.home-h2{
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin-top: 50px;
  font-size: 26px;
  margin-bottom: 30px;
}

.home-h3 {
  z-index: 10;
  margin-left: 5em;
  margin-right: 5em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 50px;
}

.resume-link{
  color: #fff;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 0 5px #1877f2,
    0 0 10px #1459b3,
    0 0 15px #179bff;
}




.website-info{

  margin-top: 2vh;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}

.portfolio-img {
  transform: scale(0.8);
  opacity:0;
  transition: .6s all ease;
}

.portfolio-img.active{
  transform: scale(1);
  opacity: 1;
}

.website-info-box{

  border-radius: 15px;
  padding: 1.5vw;
  background-color: #272b33;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 30px 60px -12px inset, rgba(0, 0, 0, 1) 0px 18px 30px -12px inset;
  width: 40%;
  height: 350px;
}

#react-title-holder{
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  margin:auto;
  margin-left: 10%;
}

#react-info-title{
  align-items: center;
  display: flex;
  color: #fff;
  animation: third_color .5s ease-in-out infinite alternate;
  font-size: 40px;
  
}
.App-logo {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.website-info-text{
  margin-top: 10px;
  grid-column: 1 / 3;
  grid-row: 2;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;

}

#spring-info-title{
  color: white;
  animation: fourth_color .5s ease-in-out infinite alternate;
  font-size: 40px;
  grid-column: 1 / 3;
  margin:auto;
  margin-bottom: 10px;
}

.contact{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 5em;
  margin: 8vh auto 5vh auto;
  width: 80%;
  border-radius: 15px;
      height: 40vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(7, 7, 7, 0.2)), url("https://images.unsplash.com/photo-1540840430747-71880eb5b5ba?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2MzE3MjA5MQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
        background-size: cover;
        background-position: center;
}

#contact-list{
  margin: 20px auto auto auto;
  padding-left: 0;
  list-style: none;
  display: block;
}

#contact-list>li{
  display: inline-block;
  padding: 5px;
}
.contact-icon{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 4px;
}







@keyframes first_color {
  0% {
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff, 0 0 30px #fff;
  }
  100% {
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff, 0 0 15px #fff;
  }
}


@keyframes second_color {
  0% {
    text-shadow: 0 0 10px #ff1177,
      0 0 20px #d6249f, 0 0 30px #285AEB
  }

  100% {
    text-shadow: 0 0 5px #ff1177,
      0 0 10px #d6249f, 0 0 15px #285AEB
  }
}

@keyframes third_color {
  0% {
    text-shadow: 0 0 10px #1877f2,
      0 0 20px #1459b3, 0 0 30px #179bff
  }

  100% {
    text-shadow: 0 0 5px #1877f2,
      0 0 10px #1459b3, 0 0 15px #179bff
  }
}

@keyframes fourth_color {
  0% {
    text-shadow: 0 0 10px #25d366,
      0 0 20px #48ee85, 0 0 30px #0ec0a5
  }

  100% {
    text-shadow: 0 0 5px #25d366,
      0 0 10px #48ee85, 0 0 15px #0ec0a5
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 74em) {

  .App-nav{
    font-size: .9em !important;
    padding: 0 1em 0 1em !important;
  }

  .App-body{
    width: 95%;
  }
  .personal-card-img{
    margin-left: 4%;
  }
  .personal-card-info{
    margin-right: 4%;
  }
  .personal-card-info>h1 {
      font-size: 24px;

    }
  
  .personal-card-info>h2 {
      font-size: 20px;
  
    }

    .home-h1 {

      font-size: 35px;
      letter-spacing: 5px;
    }
  
    .home-h2 {

      letter-spacing: 5px;
      font-size: 22px;

    }
  
    .home-h3 {
      margin-left: 5%;
      margin-right: 5%;
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 30px;
    }

  .resume-btn{
    font-size: 22px;
  }

  #react-info-title{
    font-size: 35px;
  }

  .App-logo{
    font-size: 60px;
  }

  #spring-info-title{
    font-size: 35px;
    margin-top:10px;
    margin-bottom: 15px;
  }

  .website-info-text{
    font-size: 16px;
  }

  .website-info-box{
    height: 300px;
  }

  .contact{
    font-size: 15px;
  }





}

@media screen and (max-width: 825px) {

    .App-nav {
        font-size: 14px !important;
        padding: 1em .8em 1em .8em !important;
        line-height: 0;
      }


  h1.app-head-text{
    font-size: 1.2em;
  }

  h2.app-head-text{
    font-size: 2.5em;
  }

  .personal-card{
    padding: 30px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    margin:auto;
    height:auto;
  }

  .personal-card-img {
    margin:auto;
    height: 400px;
    width: 350px;
  }

  .personal-card-info{
    margin:auto;
    margin-top: 20px;
    width: auto;

  }

  .personal-card-info>h1 {
    font-size: 20px;

  }

  .personal-card-info>h2 {
    font-size: 16px;

  }

  .home-h1 {

    font-size: 25px;
    letter-spacing: 5px;
  }

  .home-h2 {

    letter-spacing: 5px;
    font-size: 16px;

  }

  .home-h3 {
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 30px;
  }

  .resume-btn {
    font-size: 16px;
  }
    #react-title-holder{
      margin: auto;
    }
    #react-info-title {
      
       /* font-size: 4vw; */
     }
  
     .App-logo {
       height: 70px;
     }
  
     #spring-info-title {
       /* font-size: 4vw; */
     }
  
     .website-info-text {
       /* font-size: 2vw; */
       line-height: 30px;
       height: 20vh;
     }
  
     .website-info-box {
       width: auto;
       height: auto;
     }

     .website-info{
      display: flex;
      flex-direction: column;
     }

     .contact{
      height: auto;
     }


}

@media screen and (max-width: 400px) {

  .App-nav {
    font-size: 12px !important;
    padding: .8em .6em .8em .6em !important;
  }

    h1.app-head-text {
      font-size: 5vw;
    }
  
    h2.app-head-text {
      font-size: 9vw;
    }



  .personal-card {
    padding: 20px 5px 20px 5px;
  }

  .personal-card-img {
    height: 95vw;
    width: 85vw;
  }

  .personal-card-info {
    margin-top: 15px;


  }

  .personal-card-info>h1 {
    font-size: 18px;

  }

  .personal-card-info>h2 {
    font-size: 14px;

  }

  .home-h1 {

    font-size: 22px;
    letter-spacing: 5px;
  }

  .home-h2 {

    letter-spacing: 5px;
    font-size: 14px;

  }

  .home-h3 {
    letter-spacing: 0px;
    font-size: 10px;
    line-height: 30px;
  }

  .resume-btn {
    font-size: 14px;
  }


}