


.artist-card{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: box-shadow;
        transition-duration: .7s;
        transition-delay: 0s;
}

.artist-card>.home-h1 {
    display: inline-block;
    margin: 10px;
    width: 5vw;
}

.artist-card:hover{
    box-shadow: 0 0 30px #25d366,
            0 0 50px #48ee85, 0 0 70px #0ec0a5;
    cursor: pointer;
    
}

.artist-img{
    margin: 10px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    /* border-radius: 25%; */
}
.artist-info{
    display: inline-block;
    width: 30vw;
    margin: 50px;
    color: white;
    justify-content: center;
}

.song-name{
    font-weight: bold;
}