div.welcome > body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2MjcwMDcwNg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1650");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.welcome-footer{
    padding-top: 10vh;
    background-blend-mode: darken;
}



.welcome-h2 {
    font-size: 2em !important;
}

.welcome-h1 {
    font-size: 3.5em !important;
}

.welcome-cover-container {
    max-width: 60vw;
}

.welcome-nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.welcome-nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.welcome-btn-secondary,
.welcome-btn-secondary:hover {
    color: #333;
    text-shadow: none;
    font-weight: bold;
}

.welcome-nav-link.active {
    color: white;
    border-bottom-color: rgb(255, 255, 255, 0.8);

}